.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}

#searchbarimage1 {
  height: 300px;
  width: 300px;
  padding: 0px 28px 10px 30px;
  cursor: pointer;
}


#searchbar {
  width: 625px;
  height: 45px;
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  display: flex;
  z-index: 100;
}


#searchbar:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

#searchbar > input {
  height: 45px;
  border-style: none;
  font-size: 16px;
  line-height: 45px;
  padding-left: 20px;
  flex: 1;
}

#searchbar > input:focus {
  outline: none;
}

#searchbar button {
  border: none;
  cursor: pointer;
}

#searchbar button:focus {
  outline: none;
}