body {
    min-height: 100%;
    position: relative;

}

.searchresult_container{
    display: flex;
    flex-direction: column;
}

.box {
    border : 3px solid black;
}
#header {
    background-color:white;
    position: fixed;
    z-index: 5;
    width: 100%;
}

#topbar {
    display: flex;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-top: 10px; 
}

#searchbarimage {
    height: 90px;
    padding: 10px 28px 10px 30px;
    cursor: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
}


#searchbarbutton {
    height: 45px;
    width: 55px;
    position: relative;
    margin-right: -2px;
    background-color: white;
}

#searchbarbutton svg {
    height: 25px;
    width: 35px;
    position: relative;
    left: -3px;
}

#searchbarbutton svg path {
    fill: #4285F4
}

#searchbar {
    width: 625px;
    height: 45px;
    border-radius: 100px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    overflow: hidden;
    display: flex;
    z-index: 100;
}

#searchbar:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

#searchbar > input {
    height: 45px;
    border-style: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    flex: 1;
}

#searchbar > input:focus {
    outline: none;
}

#searchbar button {
    border: none;
    cursor: pointer;
}

#searchbar button:focus {
    outline: none;
}

.searchresultsarea{
    margin-top:100px;
}



#optionsmenuactive::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4285F4;
    left: 5px;
    bottom: 0px;
} 

.knowledge_graph{
    padding-left: 80px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
.knowledge_graph_general{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.knowlege_graph_spacing_items{
    margin:20px;

}

.knowledge_graph_images_Items{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:50px ;
    border-bottom: 1px solid grey;
}

.knowledge_graph_images_Items img{
    height: 100px;
    width: 150px;
}
.knowledge_graph_images_Items p{
    text-align: center;
}
.related_questions{
    border-bottom: 1px solid grey;
}

.related_questionsItems{
    margin-top :30px;
    margin-bottom :30px;
}

.local_places_container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.local_places_img{
    width: 300px;
    height: 200px;
}


.local_places_website_img{
    width: 50px;
    margin-left: 150px ;
    margin-top:60px;
}


.searchresultsarea {
    margin-left: 50px;
    font-family: 'Arial';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchresultcontainer{
    width:50%;
}

#searchresultsnumber {
    font-size: 0.8rem;
    color: gray;
    display: flex;
    flex-direction: row;
}
#searchresultsnumber p {
    width:200px;
}



.searchresult h2 {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(29, 1, 189);
    margin-bottom: 0px;
    margin-top: 25px;
}
.searchresult_ads{
    border-bottom: 1px solid grey;
}
.searchresult_ads h2{
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(29, 1, 189);
    margin-bottom: 0px;
    
}

.searchresult a {
    font-size: 14px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
}

.searchresult button {
    font-size: 10px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: white;
} 

.localmap img{
    width: 80%;
    height:20%


}
.card_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid grey;
    width:800px;
    
}

.card {
    margin: 10px;
    padding:10px;
    border: 1px solid grey;

}
.card:hover {
    border: 5px solid grey;
}

.best-book-h1{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

.image_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.images_resultsItems img {
    width: 150px;
    height:150px;
    margin: 10px;
}

img:hover {
    border: 5px solid grey;
}
a {
    color:black;
}
button:hover{
    background-color:blue;
    
}

button a:hover {
    background-color:blue;
    color:aliceblue;
}
a:hover {
    
    color:brown;
}

#optionsbar {
    width: 100%;
    height: 100px;
    border-width: 0px;
    border-bottom: 1px;
    border-color: lightgray;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    font-family: 'Arial';
    font-size: 13px;
    color: rgb(112, 112, 112);
    
}

#optionsmenu1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
}

#optionsmenu1 li {
    
    padding: 0px 10px 15px 20px;
}

#optionsmenuactive {
    color: #4285F4;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.searchresult p {
    width: 625px;
    font-size: 13px;
    margin-top: 0px;
    color: rgb(82, 82, 82);
}

.relatedsearches h3 {
    font-weight: normal;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.relatedlists ul {
    list-style: none;
    color: rgb(29, 1, 189);
    padding-left: 0px;
    font-size: 14px;
    margin-bottom: 50px;
}

.relatedlists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.relatedlists ul li {
    margin-bottom: 8px;
}


.related_searches{
    margin-bottom: 40px;
}

.relatedlists_btn{
    width:200px;
    font-size:20px;
}

